* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Nanum Gothic, sans-serif;
    background-color: #fff;

}


}

.flex-columns .row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.flex-columns .column {
    display: flex;
}

.flex-columns .column .column-1 {
    display: flex;
    background: #f4f4f4;


}

.flex-columns .column .column-img {
    width: 400px;
    height: 400px;
    object-fit:

}

.flex-columns .column .column-img .mainImage {
    max-height: 100%;
    max-width: 100%;
}


.btn {
    background: transparent;
    border: 1px solid #333;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px
}
